*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
}

header > img, h1{
    display: inline;
}

header{
    background-color: #ffffff;
    height: 90px;
} 

header img{
    width: 80px;
}

header h1{
    color: #000000;
    font-size: 4em;
}

.container{
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 900px;
    margin-top: 20px;
}

.container nav{
    padding: 20px;
}

.button{
    display: inline-block;
    font-size: 16px;
    padding: 7px 16px;
    border-radius: 7px;
    border-color: #e8eaec;
}

#button_azure{
    margin-left: 40px; 
    background-color: #47adf1;
    color: #eaf6fd;  
}

#button_gray{
    color: #d4d9dc;
}

.container main{
    margin: 50px;
}

main ul{
    list-style: none;
}

.titolo{
    font-size: 30px;
    margin-top: 50px;
    font-weight: 700;
    font-family: "Luckiest guy", cursive;
}

main ul li{
    font-size: 25px;
}

.green{
    display: inline-block;
    color: #79c9b6;
    border: 2px solid #79c9b6;
    border-radius: 50%;
    /* width: 30px;
    height: 30px; */
}

.red{
    display: inline-block;
    color: #eb5952;
    border: 2px solid #eb5952;
    border-radius: 50%;
}

.choice{
    display: inline-block;
    font-size: 13px;
    color: #f5fbfe;
    padding: 8px;
    border-radius: 15px;
}

.editorial{
    background-color: #45abea;
}

.Q1Goals{
    background-color: #9c72e4;
}

.recruiting{
    background-color: #64c0a9;
}

.mobile{
    background-color: #f29e33;
}

.websites{
    background-color: #d863a1;
}

.sales{
    background-color: #b0c926;
}